*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

html{
    scroll-padding-top: 12rem;
    scroll-behavior: smooth;
}

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}



body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../Imagenes/Paella.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 79%);
    z-index: -1;
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 400;
    font-size: 400%;
}

.nav_items{
    list-style: none;
    text-decoration: underline;
}

.nav_items .submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px; /* Añade bordes redondos */
    opacity: 0; /* Inicia con el submenú invisible */
    transition: opacity 2s; /* Añade una transición de 2 segundos */
  }
  
  .nav_items:hover .submenu {
    display: block;
    opacity: 1; /* Hace que el submenú sea visible */
  }
  
 .submenu li {
    padding: 12px 16px;
    display: block;
  }
  
.submenu li a{
    text-decoration: none;
    color:#000000;
    display: block;
    transition: color 0.3 ease, transform 0.3 ease;
}

.submenu li a:hover{
    color: blue;
    transform: scale(1.25);
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_links{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
} 

.hero_container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
}

.hero_parrafo{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #074c8d;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
}

.container_about{
    padding-bottom: 5%;
    padding-top: 5%;
}

.subtitle{
    text-align: center;
    font-size: 70px;
    line-height: 70%;
    display: inline-block;
    justify-self: center;
    color: #2200ff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 25px;
    margin-left: 5%;
}

.Intro {
    display: flex;
  }
  
  .Intro .image {
    flex: 50%;
  }
  
  .Intro .text {
    flex: 50%;
    margin-left: 5%;
    margin-bottom: 1em;
    margin-top: 5%;
  }
  
  .Intro .text p {
    margin-bottom: 1em;
    font-size: 125%;
  }

  .Intro .text h1{
    font-family: "Raleway", sans-serif;
    margin-bottom: 1em;
    font-size: 250%;
  }
  
.padre{
    margin-top: 5%;
    margin-left: 15%;
}

.galeria{
    display: flex;
    width: 1000px;
    height: 580px;
    padding-bottom: 5%;
}

.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 0.5s ease;
}

.galeria img:hover{
    cursor: crosshair;
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
}

.Nosotros {
    display: flex;
  }
  
  .Nosotros .image {
    flex: 40%;
  }
  
  .Nosotros .text {
    flex: 50%;
    margin-left: 5%;
    margin-bottom: 1em;
    margin-top: 15%;
  }
  
  .Nosotros .text p {
    margin-bottom: 1em;
    font-size: 125%;
  }

  .Nosotros .text h1{
    font-family: "Raleway", sans-serif;
    margin-bottom: 1em;
    font-size: 250%;
  }

.contenedor-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.content-foo{
    margin-bottom: 10px;
    text-align: center;
}

.content-foo h4{
    padding-top: 1.5%;
    border: none;
}

.content-foo p{
    color: #000000;
    padding-bottom: 10px;
}

.titulo_final{
    font-size: 20px;
    text-align: center;
    padding-bottom: 3%;
}